.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark.justify-content-between {
  background-color: black;
  opacity: 0.8;
}

.navbar-brand.d-lg-flex.flex-grow-1.justify-content-between.justify-content-lg-center {
  color: white;
  font-size: 20px;
}

body {
  padding-top: 51px;
}

.h3, h3 {
  padding: 3px;
  font-size: 26px;
}

.text-success {
  padding: 2px;
  font-size: 19px;
}

body {
  padding-bottom: 50px;
}

.flex-grow-1.justify-content-between {
}

.flex-grow-1.justify-content-between {
}

